* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #0b1220;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  height: 60px;
  background: #0d1629;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.logo span {
  color: #3aa0ff;
}

.nav-items a {
  position: relative;
  margin-left: 30px;
  text-decoration: none;
  color: #ccc;
  padding: 0 5px;
}

.nav-items a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;

  width: 0%;
  height: 3px;

  background: #3aa0ff;
  border-radius: 2px;

  transition: width 0.3s ease;
}

.nav-items a:hover::after {
  width: 100%;
}

.nav-items a.active::after {
  width: 100%;
  box-shadow: 0 0 8px #3aa0ff;
}

/* WELCOME */

.welcome {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.welcome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.welcome-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(10, 15, 30, 0.8),
    rgba(10, 15, 30, 0.4)
  );
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.welcome-text h1 {
  font-size: 40px;
}

.welcome-text span {
  color: #3aa0ff;
}

.welcome-text p {
  margin: 15px 0;
  color: #aaa;
}

.btn {
  padding: 10px 20px;
  background: #3aa0ff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

/* CATEGORIES */

.categories {
  display: flex;
  width: 100%;
  height: 180px;
  background: #0f1b33;
}

.category {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.category:not(:last-child)::after {
  content: "";
  position: absolute;

  right: 0;
  top: 20%;
  height: 60%;

  width: 1px;
  background: #2a3a5f;
}

.category img {
  width: 60px;
  margin-bottom: 10px;
  filter: brightness(0) saturate(100%) invert(74%);
}

.category h3 {
  font-size: 16px;
  color: #cccccc;
}

.category::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background: linear-gradient(to right, transparent, #3aa0ff, transparent);
  opacity: 0;
  border-radius: 2px;
  transition: all 0.4s ease;
}

.category:hover::before {
  opacity: 1;
  width: 60%;
}

.category:hover h3 {
  color: white;
}

.category:hover img {
  filter: brightness(0) invert(100%);
}

/* CARDS */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
}

.card {
  text-align: center;
  transition: 0.3s;
}

.card-img h3 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: 0.3s;
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.card-img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s;
}

.card-img:hover .overlay {
  opacity: 1;
}

.card-img:hover h3 {
  opacity: 1;
}


/* CARRUSEL */
.carousel-container {
  position: relative;
}

.carousel-section {
  max-width: 1200px;
  margin: 0 auto;
}
.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 20px 40px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

/* GRUPOS (pantallas) */
.group {
  display: flex;
  gap: 20px;
  min-width: 100%;
  justify-content: center;
  padding: 20px;
  scroll-snap-align: center;
}


.prod img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.prod:hover img {
  transform: scale(1.05);
}

.prod p {
  margin-top: 8px;
  color: #ccc;
}

/* FLECHAS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  text-decoration: none;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}
/* FORM */

.form-container {
  max-width: 600px;
  margin: 40px auto;
  background: #111a2e;
  padding: 30px;
  border-radius: 10px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

.check-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.check-container input {
  width: auto;
  margin: 0;
}
.form-container button {
  width: 100%;
  margin-top: 10px;
}

/* CONTACT */

.contact {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.contact-info {
  flex: 1;
}

.map {
  flex: 1;
  background: #222;
  height: 300px;
  border-radius: 10px;
}

/* FOOTER */

.footer {
  margin-top: auto;
  background: #0d1629;
  padding: 25px 40px;
  color: #aaa;
}

/* CONTENIDO PRINCIPAL */
.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

/* DIRECCIÓN */

.footer-info {
  text-align: left;
}

.footer-info p {
  font-size: 14px;
}

/* LINKS LEGALES */
.footer-links {
  text-align: center; /* 👈 esto lo centra PERFECTO */
}

.footer-links a {
  margin-left: 10px;
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  position: relative;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #3aa0ff;
  text-shadow: 0 0 6px #3aa0ff;
}

/* REDES SOCIALES */
.footer-social {
  justify-content: flex-end;
  display: flex;
  gap: 15px;
}

.footer-social img {
  width: 24px;
  height: 24px;
  opacity: 0.7;
  transition: 0.3s;
}

.footer-social img:hover {
  opacity: 1;
  transform: scale(1.2);
  filter: drop-shadow(0 0 6px #3aa0ff);
}

/* COPYRIGHT */
.footer-copy {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  color: #666;
}
